<div class="flex-1 overflow-hidden">
  <!-- File Header -->
  <div [class]="getHeaderClasses()">
    <div class="mr-2">
      <lucide-icon
        [img]="getFileIcon(fileName)"
        size="16"
        [class]="getIconClass(fileName)"
      ></lucide-icon>
    </div>
    <span [class]="getHeaderTextClasses()">{{ activeFile }}</span>
  </div>

  <!-- Editor Content -->
  <div class="h-full overflow-auto">
    <div class="p-4">
      <div *ngFor="let line of formattedContent; let i = index" class="flex">
        <div [class]="getLineNumberClasses()">{{ i + 1 }}</div>
        <div [class]="getContentClasses()">{{ line || ' ' }}</div>
      </div>
    </div>
  </div>
</div>
