/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: '';
  --secondary: '';
  --accent: '';
  --neutral: '';
  --gold: '';
}

.dark-theme {
  --primary: #210810;
  --secondary: #E8E3E1;
  --accent: #A75A7B;
  --neutral: #4A4A4A;
  --gold: #D4C2A8;
  --particle-accent: #A75A7B;
  --particle-gold: #D4C2A8;
  --particle-secondary: #E8E3E1;
}

.light-theme {
  --primary: #E8E3E1;
  --secondary: #210810;
  --accent: #A75A7B;
  --neutral: #4A4A4A;
  --gold: #D4C2A8;
  --particle-accent: #8E44AD;
  --particle-gold: #B8860B;
  --particle-secondary: #333333;
}
