/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: "";
  --secondary: "";
  --accent: "";
  --neutral: "";
  --gold: "";
}

.dark-theme {
  --primary: #210810;
  --secondary: #e8e3e1;
  --accent: #a75a7b;
  --neutral: #4a4a4a;
  --gold: #d4c2a8;
  --particle-accent: #a75a7b;
  --particle-gold: #d4c2a8;
  --particle-secondary: #e8e3e1;
}

.light-theme {
  --primary: #black;
  --secondary: #210810;
  --accent: #a75a7b;
  --neutral: #4a4a4a;
  --gold: #d4c2a8;
  --particle-accent: #8e44ad;
  --particle-gold: #b8860b;
  --particle-secondary: #333333;
}
